.container {
    width: 100%;
    height: 100vh;

    .wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        .navigation_container {
            width: 1000.84px;
            margin: 10px 0px 0px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .keyboard_container {
            display: flex;
            justify-content: center;
        }
    }
}