.theme_img {
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.scanrate_log_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    line-height: 11px;
    padding: 5px 10px;
    background-color: var(--key-press-scan-rate-log-bg);
    color: var(--key-press-scan-rate-log-color);
    border-radius: 5px;
}