name: Run to test
on:
  push:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install yarn package manager
        run: npm i -g yarn

      - name: Install package.json dependencies
        run: yarn install

      - name: Run to test
        run: yarn run test
